<article {{ attributes.addClass(['chart']|merge(utility_classes)) }}>
  {% if data.title %}
    <h2 {{ title_attributes.addClass( ['chart__title']|merge(title_classes))}}>{{ data.title }}</h2>
  {% endif %}
  <div class="chart__wrap">
    <figure class="chart__figure">
      <canvas id="{{ data.id }}" class="chart__type-{{ data.type }}"></canvas>
      {% if data.caption %}
        <figcaption>{{ data.caption|t }}</figcaption>
      {% endif %}
    </figure>
  </div>
  <details class="chart__data-table" id="{{ data.id }}-data-table">
    <summary aria-controls="#{{ data.id }}-data-table" aria-expanded="false">
      <span aria-live="polite">Show data table</span>
      <span aria-hidden="true" class="material-symbols-sharp">table</span>
    </summary>
    <table aria-describedby="{{ data.id }}" cellspacing="0" class="not-wysiwyg chart__raw">
      {% if data.title %}
      <caption {{ title_attributes.addClass(title_classes )}}>{{ data.title }}</caption>
      {% endif %}
    </table>
  </details>
  {% if data.sources %}
  <dl class="chart__sources">
    <dt>Source(s):</dt>
    <dd>{{ data.sources }}</dd>
  </dl>
  {% endif %}
  {% if data.download %}
    <a download class="chart__download" href="{{ data.download }}">
      Download dataset
      <span class="chart__download-meta">({{ data.ext }}, {{data.size}})</span>
    </a>
  {% endif %}
  {% if data.footnotes %}
    <footer class="chart__footnotes footnotes">{{ data.footnotes|t }}</footer>
  {% endif %}
</article>
