:root {
    --chart-palette-color-1: 255 179 179;
    --chart-palette-color-2: 179 255 179;
    --chart-palette-color-3: 179 179 255;
    --chart-palette-color-4: 255 255 179;
    --chart-palette-color-5: 179 255 255;
    --chart-palette-color-6: 255 179 255;
    --chart-palette-color-7: 224 224 224;
    --chart-palette-color-8: 194 142 142;
    --chart-palette-color-9: 194 194 142;
    --chart-palette-color-10: 142 194 142;
    --chart-palette-color-11: 194 142 194;
    --chart-palette-color-12: 142 194 194;
    --chart-palette-color-13: 142 142 194;
    --chart-palette-color-14: 255 224 179;
    --chart-palette-color-15: 255 218 222;
    --chart-palette-color-16: 211 182 182;
    --chart-palette-color-17: 255 182 217;
    --chart-palette-color-18: 209 232 245;
    --chart-palette-color-19: 250 240 190;
    --chart-palette-color-20: 200 250 200;
}


.chart__download {
    white-space: nowrap;
}

.chart__download-meta {
    font-size: var(--chart-download-meta-size, 80%);
}